<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />



  <!-- BOOTSTRAP 4 CSS  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- BOOTSTRAP 4 JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/ranking_page.css" type="text/css">
</head>

<body>

  <%- include nav.ejs %>
  <!-- <img src="https://img.icons8.com/officexs/16/000000/dancing.png">
    <img src="https://img.icons8.com/color/48/000000/dancing.png">
    <img src="https://img.icons8.com/color/144/000000/dancing.png"> -->
  <p class="hello_result">Results</p>
  <b class="question"><%=voter[0].poll %></b>
  <div class="table_number_name">
    <div class="results_table">
      <table>
        <thead>
          <th scope="col">Ranking </th>
          <th scope="col">Choices </th>
          <th scope="col">Description </th>

        </thead>
        <tbody>

          <% for(let i = 0; i < voterChoices.length; i++) { %>
          <tr>
            <td class="ranking" ><%= i + 1%></td>
            <td class="title" ><%= voterChoices[i].title %></td>
            <td class="description" ><%= voterChoices[i].description %></td>

          </tr>
          <% } %>

        </tbody>
      </table>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        const url = window.location.pathname;
        fetch(`${url}/json`)
          .then(res => res.json())
          .then(myJson => {
            const myList = [['choice', 'vote']].concat(JSON.parse(myJson).voterChoices.map(obj => [obj.title, +obj.choice_rank]));
            // console.log('my data', myList);
            var data = google.visualization.arrayToDataTable(myList);


            var options = {
              chartArea: { left: '1%', top: 0, width: '75%', height: '100%' },
              is3D: true,
              backgroundColor: 'transparent',

            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
          });
      }
    </script>
    <div id="piechart"></div>

  </div>
  </div>
  <!-- </br> -->

  <b class="voter_number">Numbers of Sumbission: <%= voterNumber %></b>
  <!-- <br > -->
  <div class="voter_name">
    <b>Poll Participants:</b>


    <% for(let i = 0; i < voter.length; i++) { %>
    <col class="voterName" style="width:30%;"> &nbsp;<%= voter[i].name  %> &nbsp;&nbsp; </col>
    <% } %>

  </div>
  <div>
      <!-- <a href="https://www.facebook.com"><img src="https://img.icons8.com/dusk/64/000000/facebook-new--v2.png"></a>
      <a href="https://www.twitter.com"><img src="https://img.icons8.com/dusk/64/000000/twitter-circled.png"></a> -->
      <!-- <img src="https://img.icons8.com/dusk/64/000000/open-in-browser.png"> -->
      <button id="CopyButton" class="btn btn-primary" type="button" value="Copy URL to share!">
        Copy URL to share!</button>
  </div>
</body>

</html>
