<%- include header.ejs %>
<body>
<%- include nav.ejs %>
<div class="container" id="selectables">
 <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
    $('#submission').on('submit', (e) => {
      let hidden = $('#choice-order');
      let choices = $('#sortable').sortable('toArray', {
        attribute: 'data-choice-id'
      });
      // in jQueryUI, to use a plugin on an element you do: $('#element').pluginName({options});
      // To call functions related to that plugin, the format is always $('#element').pluginName(functionName, ...arguments);
      hidden.val(choices.join(','));
      return true;
    });
  } );
  </script>
<h2 id="question"> <%= poll.question %> </h2>
<h4 id="prompt"> Rank your choices from most favourite to least favourite! </h4>
<form method="POST" action="/polls/<%= poll.id %>/votes" id="submission">
<div class="row" id="sortable">
  <%  for (let choice of poll.choices){ %>
  <div class="card" data-choice-id="<%= choice.id %>">
    <div class="card-body">
      <div><%= choice.title %></div>
      <small><%= choice.description %></small>
    </div>
  </div>
  <% } %>
</div>
<input type="hidden" name="choices" value="" id="choice-order">
<div class="name">
<h4 id="namevalue"> Your name: </h4>
<input type="text" name="name" value="" id="name" placeholder="Name">
</div>
<div class="div-submit-button">
<button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
</div>
  </form>
  </div>
</body>
</html>
